<div class="form-group">
  <label for="newPassword">{{'changePassword.password' | translate}}</label>
  <input type="password" class="form-control" id="newPassword"
         required
         [(ngModel)]="password" name="newPassword"
         #newPassword="ngModel">
  <div [hidden]="newPassword.valid || newPassword.pristine"
       class="alert alert-danger">
    {{'changePassword.password' | translate}}{{'messages.required' | translate}}
  </div>
  <div [hidden]="password !== confirmPassword"
       class="alert alert-danger">
    {{'changePassword.old' | translate}}
  </div>
</div>

<div class="form-group">
  <label for="newPasswordConfirm">{{'changePassword.confirm' | translate}}</label>
  <input type="password" class="form-control" id="newPasswordConfirm"
         required
         [(ngModel)]="confirmPassword" name="newPasswordConfirm"
         #newPasswordConfirm="ngModel">
  <div [hidden]="newPasswordConfirm.value === newPassword.value"
       class="alert alert-danger">
    {{'changePassword.confirmSame' | translate}}
  </div>
</div>


