<app-nav-bar [user]="currentUser"></app-nav-bar>

<div class="container">
  <div>
    <h1>{{'editForm.title' | translate}}</h1>

    <form (ngSubmit)="onSubmit()" #EmployeeForm="ngForm">

      <div class="form-group">
        <label for="firstName">{{'form.firstName' | translate}}</label>
        <input type="text" class="form-control" id="firstName" name="firstName"
               required
               [(ngModel)]="employeeDTO.firstName"
               #firstName="ngModel">
        <div [hidden]="firstName.valid || firstName.pristine"
             class="alert alert-danger">
          {{'form.firstName' | translate}}{{'messages.required' | translate}}
        </div>
      </div>

      <div class="form-group">
        <label for="secondName">{{'form.secondName' | translate}}</label>
        <input type="text" class="form-control" id="secondName"
               required
               [(ngModel)]="employeeDTO.secondName" name="secondName"
               #secondName="ngModel">
        <div [hidden]="secondName.valid || secondName.pristine"
             class="alert alert-danger">
          {{'form.secondName' | translate}}{{'messages.required' | translate}}
        </div>
      </div>

      <div class="form-group" [hidden]="changeUsername">
        <label for="username">{{'form.username' | translate}}</label>
        <input type="text" class="form-control" id="username"
               disabled
               required
               [(ngModel)]="employeeDTO.username" name="username"
               #username="ngModel">
        <span class="btn-link" (click)="disableInput()">{{'editForm.changeUsername' | translate}}</span>
        <div [hidden]="username.valid || username.pristine"
             class="alert alert-danger">
          {{'form.username' | translate}}{{'messages.required' | translate}}
        </div>
      </div>
      <div [hidden]="!changeUsername">
        <app-username-checker
          currentUser="{{currentUsername}}"
          name="validUsername" [(ngModel)]="employeeDTO.username" required>
        </app-username-checker>
      </div>

      <div class="form-group">
        <label for="country">{{'form.country' | translate}}</label>
        <input type="text" class="form-control" id="country"
               [(ngModel)]="employeeDTO.country" name="country">
      </div>

      <div class="form-group">
        <label for="birthOfDate">{{'form.birthOfDate' | translate}}</label>
        <input type="date" class="form-control" id="birthOfDate"
               required
               [(ngModel)]="employeeDTO.birthOfDate" name="birthOfDate"
               #birthOfDate="ngModel">
        <div [hidden]="birthOfDate.valid || birthOfDate.pristine"
             class="alert alert-danger">
          {{'form.birthOfDate' | translate}}{{'messages.birthOfDate' | translate}}
        </div>
      </div>

      <!--
      <div class="form-group">
        <label for="maritalStatus">{{'form.maritalStatus' | translate}}</label>
        <select class="form-control" id="maritalStatus"
                [(ngModel)]="employeeDTO.maritalStatus" name="maritalStatus"
                [compareWith]="customCompare">
          <option *ngFor="let status of maritalStatuses" [ngValue]="status">{{status.status}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="skill">{{'form.skills' | translate}}</label>
        <select class="form-control" id="skill"
                multiple
                [(ngModel)]="employeeDTO.skills" name="skill"
                [compareWith]="customCompare">
          <option *ngFor="let skill of skills" [ngValue]="skill">{{skill.skill}}</option>
        </select>
      </div>
-->
      <div>
        <button type="submit" class="btn btn-success"
                [disabled]="!EmployeeForm.valid">{{'navigation.submit' | translate}}</button>
      </div>
    </form>
    <div>
      <button class="btn btn-primary" (click)="goBack()" style="margin-right: 4px">{{'navigation.back' | translate}}</button>
    </div>
  </div>
</div>
