<app-nav-bar [user]="employee"></app-nav-bar>

<div class="container">
  <h1>{{'changePassword.title' | translate}}</h1>
  <div [hidden]="isPasswordCorrect">
    <form (ngSubmit)="checkPassword()" #oldPasswordForm="ngForm">
      <div class="form-group">
        <label for="oldPassword">{{'changePassword.current' | translate}}</label>
        <input type="password" class="form-control" id="oldPassword"
               required
               [(ngModel)]="oldPasswordModel" name="oldPassword"
               #oldPassword="ngModel">
        <div [hidden]="oldPassword.valid || oldPassword.pristine"
             class="alert alert-danger">
          {{'changePassword.password' | translate}}{{'messages.required' | translate}}
        </div>
      </div>
      <button type="submit" class="btn btn-success"
              [disabled]="!oldPasswordForm.form.valid">{{'navigation.submit' | translate}}</button>
    </form>
  </div>

  <div [hidden]="!isPasswordCorrect">
    <form (ngSubmit)="changePassword()" #newPasswordForm="ngForm">

      <div class="form-group">
        <label for="newPassword">{{'changePassword.password' | translate}}</label>
        <input type="password" class="form-control" id="newPassword"
               required
               [(ngModel)]="newPasswordModel" name="newPassword"
               #newPassword="ngModel">
        <div [hidden]="newPassword.valid || newPassword.pristine"
             class="alert alert-danger">
          {{'changePassword.password' | translate}}{{'messages.required' | translate}}
        </div>
        <div [hidden]="oldPasswordModel !== newPasswordModel"
             class="alert alert-danger">
          {{'changePassword.old' | translate}}
        </div>
      </div>

      <div class="form-group">
        <label for="newPasswordConfirm">{{'changePassword.confirm' | translate}}</label>
        <input type="password" class="form-control" id="newPasswordConfirm"
               required
               [(ngModel)]="newPasswordConfirmModel" name="newPasswordConfirm"
               #newPasswordConfirm="ngModel">
        <div [hidden]="newPasswordConfirm.value === newPassword.value"
             class="alert alert-danger">
          {{'changePassword.confirmSame' | translate}}
        </div>
      </div>
      <button type="submit" class="btn btn-success"
              [disabled]="!newPasswordForm.form.valid || !(newPasswordConfirm.value === newPassword.value) || !(oldPasswordModel !== newPasswordModel)">{{'navigation.submit' | translate}}</button>
    </form>
  </div>
  <button class="btn btn-primary" (click)="goBack()">{{'navigation.back' | translate}}</button>
</div>
