<div class="form-group">
  <label for="username">{{'username.username' | translate}}</label>
  <input [(ngModel)]="value" id="username" name="username" #username="ngModel" type="text"
         class="form-control input-md" required (keyup)="checkUserExist()">
  <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
    {{'username.username' | translate}}{{'messages.required' | translate}}
  </div>
  <div *ngIf="userExist && !(username.value === '')" class="alert alert-danger">
    {{'username.error' | translate}}
  </div>
</div>
